.container{
    border: 3px solid greenyellow;
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    align-content:center  ;
    flex-basis: 10rem;
    flex-grow: 1rem;

}
.box{
   width: 5rem;
    height: 5rem;
    background: hotpink;
    margin: 1rem;
   
}
.box-one{
    flex-grow: 2rem;
}