.boxes{
    border: 3px solid purple;
    position: relative;
}
.box {

width:100px;
height: 100px;


}
  .box-one{
      background-color: sandybrown;
  }
  .box-two{
      background-color: thistle;
      position: absolute;
     right: 0;
     bottom: 0;
     left: 2rem;
     right: 2rem;
     width: auto;
        
z-index: 999999;
  }
  .box-three{
      background-color: violet;
  }